html {
	font-size: 100%;
	font-family: monospace;
  }
  
:root {
	--bg: #000;
	  --fg: #F0F7EE;
	  --link: #258EA6;
	  --link_v: #258EA6;
	  --link_h: #C1666B;
	  --bg_grey: #333;
	  --dark_grey: #222;
	  --acc: #C1666B;
	  --acc2: #DC965A;
	  --acc3: #885053;
	  --acc4: #DB9D47;
	  --acc5: #A38560;
	  --acc6: #678D58;
}

/* sticky footer */
/* https://css-tricks.com/a-clever-sticky-footer-technique/ */
html, body { height: 100%;}

body > footer {
	position: sticky;
	top: 100vh;
}


body {
	/* font-style: sans-serif ; */
	background: var(--bg);
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 20px;
	color: var(--fg) ;
}

a {
	color: var(--link);
	text-decoration: none;
}
a:hover {
	color: var(--link_h)
}

pre,
code,
kbd,
samp {
	font-family: monospace;
	font-size: 0.9em;
}

code {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: var(--bg_grey);
	color: var(--fg);
	padding: 2px;
	border-radius: 3px;
}
pre > code {
	display: block;
	padding: 10px 15px;
font-size: 1.2em;
}
code > strong::before {
content:"$ ";
font-weight: lighter;
opacity: .5;
}

/* NAV */
nav {
display: inline-block;
}
.site-name {
float: left;
}
.site-name > span > a {
color: var(--fg);
}
.site-title {
font-size: 2.0em;
font-weight: 600;
	color: var(--fg);
	line-height: 2.5em;
}
.menubar {
display: flex;
flex-direction: row;
float: right;
}
.menubar li, .sub-menu li {
display: block;
float: left;
width: 68px;
min-height: 1.5em;
padding: 3px;
margin: 4px;
border-bottom: #444 solid 2px;
}
.menubar li {
background-color: var(--bg);
}
.menubar li:hover {
background: var(--bg_grey);
border-bottom: black solid 2px;
}
.menubar li ul {
visibility: hidden;
position: absolute;
padding-top: 6px;
}
.menubar li:hover ul {
visibility: visible;
margin-left: -32px;
}
.menubar li ul li {
float: none;
position: relative;
}
.sub-menu li {
background-color: var(--bg_grey);
}
.sub-menu li:hover {
background-color: var(--bg);
}
/* END NAV */


main {
	max-width: 800px ;
	margin: auto ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
	width: 100%;
	padding: 15px;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}

/* tooltip */
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 420px;
	background-color: var(--bg_grey);
	color: var(--fg);
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	font-size: 14px;
	line-height: 15px;
	opacity: 0;
	transition-delay: 1s;
	transition-property: opacity; 
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	left: 0;
	top: 110%;
}
  
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* table */
table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid var(--bg_grey);
	padding: 3px 9px;
}
thead {
	text-align: center;
	background-color: var(--link);
	color: var(--bg);
}
tbody tr:nth-child(even) {
	background-color: var(--dark_grey);
}