<table>
  <thead>
      <tr>
          <th style="text-align: left;">Date</th>
          <th style="text-align: center;">Cigar</th>
          <th style="text-align: center;">Country</th>
          <th style="text-align: center;">Size</th>
          <th style="text-align: center;">Rating</th>
          <th style="text-align: center;">Link</th>
      </tr>
  </thead>
  <tbody>
      {{ $data := .Site.Data.cigars}}
      {{ range (sort $data ".date" "asc" ) }}
      <tr>
          <td>{{.date}}</td>
          <td>{{.brand}} {{.name}}</td>
          <td>{{.country}}</td>
          <td>{{.size}} {{.length}}in {{.ring}} ring</td>
          <td>{{.rating}}</td>
          <td><a href="{{.url}}" target="_blank" rel="noopener noreferrer">link</a></td>
      </tr>
      {{ end }}
  </tbody>
</table>