<table>
  <thead>
      <tr>
          <th style="text-align: center;">Cigar</th>
          <th style="text-align: center;">Size</th>
          <th style="text-align: center;">Country</th>
          <th style="text-align: center;">links</th>
          <th style="text-align: left;">Date</th>
      </tr>
  </thead>
  <tbody>
      {{ $data := .Site.Data.cigars}}
      {{ range $key, $value := (sort $data ".brand" "asc" ) }}
      <tr>
          <td title="{{ .price }}">{{.brand}} {{.name}}{{ if .rating }}<strong>({{.rating}})</strong>{{ end }}</td>
          <td>{{.size}} ({{.length}} x {{.ring}})</td>
          <td>{{.country}}</td>
          <td>
            {{ range $key, $value := .url }}
            <a href="{{ $value }}" target="_blank" rel="noopener noreferrer">
                {{ $key }} </a>
            {{ end }}
          </td>
          <td>{{.date}}</td>
      </tr>
      {{ end }}
  </tbody>
</table>