<table>
    <thead>
        <tr>
            <th style="text-align: left;">Date</th>
            <th style="text-align: center;">Miles (GPS)</th>
            <th style="text-align: center;">Gallons</th>
            <th style="text-align: center;">MPG</th>
            <th style="text-align: center;">Odo</th>
        </tr>
    </thead>
    <tbody>
        {{ $data := .Site.Data.mpg.tanks}}
        {{ $totals := newScratch }}
        {{ range (sort $data ".date" "asc" ) }}
        <tr>
            {{ $totals.Add "tm" (float .miles) }}
            {{ $totals.Add "tg" (float .gallons) }}
            <td>{{.date}}</td>
            <td style="text-align: right;">{{.miles}}</td>
            <td style="text-align: right;">{{.gallons}}</td>
            <td style="text-align: right;">{{ div (math.Round (mul (div (float .miles) (float .gallons)) 10)) 10 }}</td>
            <td style="text-align: right;">{{.odo}}</td>
        </tr>
        {{ end }}
        <tr>
            <td>Total</td>
            <td style="text-align: right;">{{ div (math.Round (mul ($totals.Get "tm") 10)) 10 }}</td>
            <td style="text-align: right;">{{ div (math.Round (mul ($totals.Get "tg") 100)) 100 }}</td>
            <td style="text-align: right;">{{ div (math.Round (mul (div ($totals.Get "tm") ($totals.Get "tg")) 10)) 10 }}</td>
            <td></td>
        </tr>
    </tbody>
</table>