<nav>
    <div class="site-name">

      <span class="site-title tooltip"><a href="/">shibby!</a>
        <span class="tooltiptext">'Shibby: A positive modern multipurpose slang word used increasingly to replace other words. adj. 1: positive, pleasing or successful; “That was a shibby concert” [syn: nice] 2: one word positive response; TERRY: “Want to go with me to the Tori Amos concert tonight?” ERIC: “Shibby!”'</span>
      </span>
    </div>
    <ul class="menubar">
      <li><a href="/hardware">hardware</a></li>
      <li><a href="/links">links</a></li>
      <li><a href="/allpages">allpages</a></li>
      <li><a href="/jeep">jeep</a>
        <ul class="sub-menu">
            <li><a href="/jeep/todo">todo</a></li>
            <li><a href="/build-thread">build thread</a></li>
            <li><a href="https://wranglertjforum.com/members/prndl.32016/" target="_blank">WTJF: PRNDL</a></li>
            <li><a href="/2001-sport">2001 Sport</a></li>
        </ul>
      </li>
      <li><a href="mailto:sayhi@shibby.xyz">say hi</a></li>
      <li>other
        <ul class="sub-menu">
          <li><a href="http://photos.shibby.xyz" target="_blank" rel="noopener noreferrer">photos</a></li>
          <li><a href="/src/myssg">ssg</a></li>
          <li><a href="/src/alias">alias</a></li>
          <li>vim</li>
          <li><a href="/os">os</a></li>
          <li>servers</li>
          <li><a href="http://github.com/nivagator/dotfiles">dotfiles</a></li>
          <li><a href="/tags">tags</a></li>
        </ul>
      </li>
    </ul>
  </nav>

